<html>
    <head>
        <title>Chat - Sistemas Convergentes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <link rel="icon" href="https://www.freefavicon.com/freefavicons/objects/pepe-152-270481.png"> -->
        <link rel="stylesheet" type="text/css" href="/../public/style.css">
    </head>
    
    <body>
        <div class="chat-column responsive-column">
            <div id="chat"></div>
            <label for="textInput" class="inputOutline">
                <input id="textInput" class="input responsive-column" autofocus placeholder="Say something" type="text">
            </label>
        </div>
    </body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src=”http://code.jquery.com/jquery-latest.min.js"></script>

<script src=”chat.js”></script>